<div class="row">
	<div class="col-sm-6 col-lg-3 theme mt-4">
		<h5>Changing landscape<br/> of research</h5>
		<img src="{{ 'assets/images/research-icon.svg' | absolute_url }}" alt="research icon" class="research-icon" />
		<p>open science, problem-based interdisciplinary research, community-based research, data governance</p>
	</div>
	<div class="col-sm-6 col-lg-3 theme mt-4">
		<h5>Trends in teaching<br/> and learning<br/></h5>
		<img src="{{ 'assets/images/teach-icon.svg' | absolute_url }}" alt="research icon" class="teach-icon" />
		<p>virtual learning platforms, lifelong learning, education of librarians, digital fluency, critical information literacy</p>
	</div>
	<div class="col-sm-6 col-lg-3 theme mt-4">
		<h5>Space<br/> planning</h5>
		<img src="{{ 'assets/images/plan-icon.svg' | absolute_url }}" alt="research icon" class="plan-icon" />
		<p>permeable library facilities, incorporating outdoor spaces, healthy study and collaboration environments</p>
	</div>
	<div class="col-sm-6 col-lg-3 theme mt-4">
		<h5>Workplace and<br/> organizational culture</h5>
		<img src="{{ 'assets/images/org-icon.svg' | absolute_url }}" alt="research icon" class="org-icon" />
		<p>tele-work, workflow redesign, inclusive practices, new skillsets</p>
	</div>
</div>