<div class="row">
	<div class="col-sm-6 col-lg-3 mt-4 text-center">
		<h5><a href="https://github.com/subjectsplus/SubjectsPlus/releases" target="_blank">Download</a> & Install</h5>
		<img src="{{ 'images/download-icon.svg' | image_path }}" alt="download icon" class="download-icon" />
		<p>latest release available in Github</p>
	</div>
	<div class="col-sm-6 col-lg-3 mt-4 text-center">
		<h5>Create Users</h5>
		<img src="{{ 'images/user-icon.svg' | image_path }}" alt="user icon" class="user-icon" />
		<p>...now you have a staff list!</p>
	</div>
	<div class="col-sm-6 col-lg-3 mt-4 text-center">
		<h5>Add Resources</h5>
		<img src="{{ 'images/resource-icon.svg' | image_path }}" alt="resource icon" class="resource-icon" />
		<p>...and a database list!</p>
	</div>
	<div class="col-sm-6 col-lg-3 mt-4 text-center">
		<h5>Create Research Guides</h5>
		<img src="{{ 'images/guide-icon.svg' | image_path }}" alt="guide icon" class="guide-icon" />
		<p>for a subject, course or topic</p>
	</div>
</div>