.highlights {
  margin-top: 2rem;
  text-align: center;

  h5 {
    color: $text-default;
    font-weight: $font-weight-semi;
    line-height: 1;
  }

  .download-icon{
    width: 79px;
    height: 55px;
    margin-bottom: 1.25rem;
  }

  .user-icon{
    width: 79px;
    height: 55px;
    margin-bottom: 1.25rem;
  }

  .resource-icon{
    width: 79px;
    height: 55px;
    margin-bottom: 1.25rem;
  }

  .guide-icon{
    width: 79px;
    height: 55px;
    margin-bottom: 1.25rem;
  }
}