.hero {
  //background-color: $iatul-light-yellow;
  background: linear-gradient(180deg, $iatul-light-yellow 465px, $white 0);

  @media (min-width: 375px) {
    background: linear-gradient(180deg, $iatul-light-yellow 489px, $white 0);
  }
  @media (min-width: 390px) {
    background: linear-gradient(180deg, $iatul-light-yellow 495px, $white 0);
  }
  @media (min-width: 414px) {
    background: linear-gradient(180deg, $iatul-light-yellow 505px, $white 0);
  }
  @media (min-width: 428px) {
    background: linear-gradient(180deg, $iatul-light-yellow 510px, $white 0);
  }
  @media (min-width: 480px) {
    background: linear-gradient(180deg, $iatul-light-yellow 533px, $white 0);
  }
  @media (min-width: map-get($grid-breakpoints, sm)) {
    background: linear-gradient(180deg, $iatul-light-yellow 513px, $white 0);
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    background: linear-gradient(180deg, $iatul-light-yellow 513px, $white 0);
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: linear-gradient(180deg, $iatul-light-yellow 255px, $white 0);
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    background: linear-gradient(180deg, $iatul-light-yellow 315px, $white 0);
  }

  .headline{
    color: $iatul-blue;
    font-weight: $font-weight-semi;
    text-align: center;
    font-size: 1.75rem;
    position: relative;
    margin-bottom: 0;
    line-height: 1.1;

    &:before{
      display: inline-block;
      content: ' ';
      background: url($imagepath + '/assets/images/tri-waves.svg') center center no-repeat;
      width:50px;
      height: 33px;
      z-index: 1;
      position: absolute;
      top: -16px;
      left: calc(50% - 165px);
    }

    @media (min-width: map-get($grid-breakpoints, sm)) {
      font-size: 1.875rem;

      &:before{
        left: calc(50% - 175px);
      }
    }
  }

  .tagline {
    color: $iatul-blue;
    font-weight: $font-weight-semi;
    text-align: center;

    span {
      color: $iatul-light-blue;
    }
  }

  .event-details {
    text-align: center;
    margin-top:1.5rem;
    @media (min-width: map-get($grid-breakpoints, lg)) {
      margin-top:.75rem;
    }
    @media (min-width: map-get($grid-breakpoints, xl)) {
      margin-top:1.5rem;
    }

    p {
      margin-bottom: 0;
    }

    .btn-holder {
      margin:2rem 0;
      display: inline-block;

      @media (min-width: map-get($grid-breakpoints, lg)) {
        margin: 2rem 0 1rem 0;
      }
      @media (min-width: map-get($grid-breakpoints, xl)) {
        margin: 4rem 0 0.5rem 0;
      }

      .btn-default {
        font-size: 1rem;
        @media (min-width: 480px) {
          font-size: 1.125rem;
        }
      }

      .btn-caption {
        font-style: italic;
        font-size: $font-size-mini;
        display: inline-block;
        margin-top: 1rem;
        @media (min-width: 480px) {
          font-size: $font-size-sm;
        }
      }
    }
  }

  .iatul-identity {
    margin-top:1.75rem;
    text-align: center;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      text-align: right;
    }

    img {
      width: 460px;
      height: auto;

      @media (min-width: map-get($grid-breakpoints, lg)) {
        width: 500px;
      }
      @media (min-width: map-get($grid-breakpoints, xl)) {
        width: 650px;
      }
    }
  }
}

.conference-theme {
  margin-top: 2rem;
  text-align: center;

  .theme {
    text-align: center;
  }

  h5 {
    color: $iatul-blue;
    font-weight: $font-weight-semi;
    line-height: 1;
  }

  .research-icon{
    width: 60px;
    height: 50px;
    margin-bottom: 1.25rem;
  }

  .teach-icon{
    width: 71px;
    height: 50px;
    margin-bottom: 1.25rem;
  }

  .plan-icon{
    width: 50px;
    height: 50px;
    margin-bottom: 1.25rem;
  }

  .org-icon{
    width: 63px;
    height: 50px;
    margin-bottom: 1.25rem;
  }
}

.sponsors-logos {
  li {
    margin-right: 2.25rem;

    &:last-child{
      margin-right: 0;
    }
  }
  img {
    width: 200px;
  }
}

.hotels-list {
  li {
    margin-bottom: 1.25rem;
    img {
      @media (min-width: map-get($grid-breakpoints, md)) {
        width: 200px;
      }
      @media (min-width: map-get($grid-breakpoints, lg)) {
        width: 275px;
      }
      @media (min-width: map-get($grid-breakpoints, xl)) {
        width: 325px;
      }
    }
  }
  p {
    margin-bottom: 0;
  }
}

.people-list{
  margin-bottom: 2rem;
  li {
    text-align: center;
    line-height: 1;
    margin-bottom: 1.25rem;

    img{
      width: 225px;
      height: auto;
      margin-bottom: .5rem;
    }


    @media (min-width: map-get($grid-breakpoints, md)) {
      width: 300px;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      width:275px;
      margin-bottom: 0;
      img{
        width: 200px;
      }
    }
    @media (min-width: map-get($grid-breakpoints, xl)) {
      width:300px;
      img{
        width: 225px;
      }
    }

  }
}

.feature-heading{
  position: relative;
  padding-left:.5rem;

  @media (min-width: 1250px) {
    padding-left: 0;
  }

  &:before{
    display: inline-block;
    content: ' ';
    background: url($imagepath + '/assets/images/tri-waves.svg') center center no-repeat;
    width:30px;
    height: 20px;
    z-index: 1;
    position: absolute;
    top: -10px;
    left: -13px;

    @media (min-width: 1250px) {
      width:36px;
      height: 24px;
      top: -12px;
      left: -24px;
    }
  }
}
