html,
body {
  height:100%;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: initial !important;
}

h1, .h1 {
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 2rem;
    font-weight: $font-weight-semi;
  }

  &.tagline {
    font-size: 1.5rem;
    color: $text-default;
  }
}

h2, .h2 {
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 1.25rem;
  }
}

h3, .h3 {
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 1.125rem;
  }
}

.color-primary {
  color: $sp-primary-color;
}

.section {
  padding: $padding-sm 0;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding: $padding-md 0;
  }
}

a {
  cursor: pointer;
  @include transition-all;
}

.semi-bold {
  font-weight: $font-weight-semi;
}

.feature {
  background-color: $feature;
}

.feature-box {
  background-color: $feature;
  padding: 1rem;
  border-radius: $border-radius-sm;
  line-height: 1.2;
}

.btn-primary {
  color: #FFFFFF;
  background-color: transparent;
  background-image: linear-gradient(-45deg, $sp-primary-color, $sp-secondary-color);
  padding: 0.5rem .75rem;
  border-radius: 50rem;
  box-shadow: 0 0 0 .25rem rgba($sp-primary-color, 20%);

  &:hover,
  &:focus {
    background-color: darken($iatul-yellow, 8%) !important;
  }
}

ul,
ol {
  &.list-space {
    li {
      margin-bottom: 1rem;
    }
  }
}

.img-gradient-border{
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(45deg,$iatul-orange, $iatul-yellow);
  border-image-slice: 10;
  padding: .25rem;
}